
.audio-flex {
  display: flex;
  justify-content: center;
}

.audio {
  background-color: #cbdc37;
  width: 397px;
  height: 622px;
  padding-top: 109px;
}

.logo-waves {
  display: flex;
  justify-content: center;
}

.waves {
  padding-top: 110px;
  height: auto;
  max-width: 100%;
}
