.footer {
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.footer p {
  padding: 8px;
  line-height: 20px;
  font-size: 14px;
  width: 397px;
  text-align: justify;
}
