@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "scss/play-pause.scss";
@import "scss/logo.scss";
@import "scss/audio.scss";
@import "scss/footer.scss";
@import "scss/media.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
